# 15. Lambda functions in Python

 * __A Lambda function is a small anonymous functions.__
 * __A Lambda function can take any number of arguments, but can only have one expressions.__
 * __The expression is eveluated and returned.__
 * __Lambda functions can be used wherever function objects are required.__
 * __Lambda Expression (or lambda functions) are essentially blocks of code that can be assigned to variable, passed as an arguments, or returned from a function call, In language that support high-order functions.__
 * __The main role of lambda function is better described in the scenarios when we employ them anonymousely insdie another functions.__
 * __n Python, the Lambda function can be utilized as an arguments to their high-order functions as an arguments.__
 * __Lambda function in Python__
    * __1. Syntax__
       * __Normal Functions__
       * __Anonymous Functions__
    * __2.Usages__
       * __Lambda with filters()__
       * __Lambda with map()__
       * __Lambda with reduce()__
       * __Lambda with sorted()__
       * __Lambda with apply()__
    * __3.CommonErrors__
       * __SyntaxError__
       * __TypeError__

In [1]:
def func(x):
    y=x+10
    return y

func(10)

20

In [2]:
(lambda x:x+10)(10)

20

In [3]:
# take two input from user and return sum of the number

def add_two(x,y):
    z=x+y
    return z
user1=int(input('Enter first number:'))
user2=int(input('Enter second number:'))
add_two(user1,user2)

Enter first number: 10
Enter second number: 20

30

In [5]:
user1=int(input('Enter first number:'))
user2=int(input('Enter second number:'))
(lambda x,y:x+y)(user1,user2)

Enter first number: 10
Enter second number: 20

30

In [10]:
# find even or odd inside the list element

array_nums=[10,20,30,50,25,26,78,79,45,45,62,53,51,1001,102,103]

even = []
odd = []

for i in array_nums:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print("Even element is:",even,"\nOdd element is:",odd)

Even element is: [10, 20, 30, 50, 26, 78, 62, 102]
Odd element is: [25, 79, 45, 45, 53, 51, 1001, 103]

# Lambda Filter()

 * __A high-order function__
 * __syntax: filter(function,sequence)__
   * __It applies function to each element of sequence and returns for which the function returns true.__
 * __filter returns a subset of sequence__
   * __to generate the actual list, we need to apply list()__

In [14]:
array_nums=[10,20,30,50,25,26,78,79,45,45,62,53,51,1001,102,103]

even_num=[]
odd_num=[]

even_num=list(filter(lambda x:(x%2==0),array_nums))
odd_num=list(filter(lambda y:(y%2!=0),array_nums))
print('Even List is:',even_num)
print('Odd List is:',odd_num)

Even List is: [10, 20, 30, 50, 26, 78, 62, 102]
Odd List is: [25, 79, 45, 45, 53, 51, 1001, 103]

In [22]:
# filterout only more than 6 character.
weekdays=['Monday',"Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

for i in weekdays:
    if len(i)>6:
        print(i)

Tuesday
Wednesday
Thursday
Saturday

In [25]:
weekdays=['Monday',"Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

filter_element=list(filter(lambda a:len(a)>6,weekdays))
filter_element

['Tuesday', 'Wednesday', 'Thursday', 'Saturday']

# Lambda with map()

 * __A high-order function__
 * __Syntax:map(function,sequence)__
 * __applies function to each element of sequence and returns the result.__

In [6]:
def square1(x):
    return x**2

square1(10)

100

In [11]:
y=int(input('Enter any number:'))
list(map(square1,range(y)))

Enter any number: 5

[0, 1, 4, 9, 16]

In [12]:
def cube_value(x1):
    return x1**3

cube_value(10)

1000

In [14]:
y1=int(input('Enter your range:'))
list(map(cube_value,range(y1)))

Enter your range: 6

[0, 1, 8, 27, 64, 125]

# reduce()

 * __Required: from functools import reduce__
 * __syntax: reduce(function,sequence)__
 * __reduce, continually applies the function(x,y) to the sequence s. It returns a single value.__

In [15]:
from functools import reduce

In [18]:
def add(x,y):
    return x+y

add(0,10)

10

In [17]:
reduce(add,range(10))   # 0,1,2,3,4,5,6,7,8,9 =45

45

# Sorted Function in Lambda
 * __A simple ascending sort is very easy. Just call the sorted() functions. It returns a news list.__

In [27]:
x=[5,2,4,1,3,7]
print('List element:',x)
y=sorted(x)
print("After Sorted element:",y)

List element: [5, 2, 4, 1, 3, 7]
After Sorted element: [1, 2, 3, 4, 5, 7]

In [35]:
# Dictionary

students=[
    ('Uday Chopra',"A",15),
    ('Isha Deol',"B",12),
    ('Katrina Kaif',"C",10)
]
students

[('Uday Chopra', 'A', 15), ('Isha Deol', 'B', 12), ('Katrina Kaif', 'C', 10)]

In [36]:
type(students)

list

In [38]:
type(students[0])

tuple

In [40]:
# sorting perform by 1st value
sorted(students,key=lambda students:students)

[('Isha Deol', 'B', 12), ('Katrina Kaif', 'C', 10), ('Uday Chopra', 'A', 15)]

In [41]:
sorted(students,key=lambda students:students[0])

[('Isha Deol', 'B', 12), ('Katrina Kaif', 'C', 10), ('Uday Chopra', 'A', 15)]

In [42]:
sorted(students,key=lambda students:students[1])

[('Uday Chopra', 'A', 15), ('Isha Deol', 'B', 12), ('Katrina Kaif', 'C', 10)]

In [43]:
sorted(students,key=lambda students:students[2])

[('Katrina Kaif', 'C', 10), ('Isha Deol', 'B', 12), ('Uday Chopra', 'A', 15)]

In [44]:
import pandas as pd

In [45]:
values=[('Katrina Kaif', 'C', 10), ('Isha Deol', 'B', 12), ('Uday Chopra', 'A', 15)]
values

[('Katrina Kaif', 'C', 10), ('Isha Deol', 'B', 12), ('Uday Chopra', 'A', 15)]

In [46]:
df=pd.DataFrame(values,columns=['Name',"Sections","Marks"])
df

           Name Sections  Marks
0  Katrina Kaif        C     10
1     Isha Deol        B     12
2   Uday Chopra        A     15

In [55]:
df['Marks'][0]

10

In [59]:
values_list=[[10,20,30],[45,45,100],[45,12,10]]
values_list

[[10, 20, 30], [45, 45, 100], [45, 12, 10]]

In [66]:
df=pd.DataFrame(values_list,columns=['Field1','Field2','Field3'],index=['a','b','c'])
df

   Field1  Field2  Field3
a      10      20      30
b      45      45     100
c      45      12      10

In [67]:
df1=df.apply(lambda x:x+5)
df1

   Field1  Field2  Field3
a      15      25      35
b      50      50     105
c      50      17      15