In [1]:
# print is a keyword to display the output in python
print('Hello world')

Hello world

In [2]:
print('Charu')

Charu

In [3]:
# string is always written in quotes.
print(charu)

NameError: name 'charu' is not defined

In [6]:
# True has a some value i.e = 1

In [5]:
# How to check your python version using python command
import sys

In [7]:
print(sys.version)

3.12.2 (tags/v3.12.2:6abddd9, Feb  6 2024, 21:26:36) [MSC v.1937 64 bit (AMD64)]

# comment

In [9]:
# How to write comment in Python

# It is a comment line
# print('Hello World')

# Getting Error in Python

In [11]:
print('Hello world')
print('Hi python')
print('Congratulation')
print(Welcome)
print('Python is the programming language.')

Hello world
Hi python
Congratulation

NameError: name 'Welcome' is not defined

In [17]:
print('Hello world')
print('Hi python')
print('Congratulation')
print('Welcome')
print('Python is the programming language.')

Hello world
Hi python
Congratulation
Welcome
Python is the programming language.

In [18]:
# Quotes are of three types
# 1. single quotes i.e- ''
# 2. double quotes i.e - ""
# 3. thiple quotes i.e - '''   '''   """   """

In [19]:
print('Hello world')
print("Hello world")
print("""Hello world""")

Hello world
Hello world
Hello world

In [21]:
# uses of single and double quotes

print('What's your name?')

SyntaxError: unterminated string literal (detected at line 3) (1052234982.py, line 3)

In [22]:
print("What's your name?")

What's your name?

In [23]:
print('What"s your name?')

What"s your name?

# Basic Data Types in Python
* __1.Number__
  * __i.Integer__
  * __ii.Float__
  * __iii.Complex Number__
* __2.Dictionary__
* __3.Set__
  * __i. Union__
  * __ii.Intersection__
  * __iii.Difference__
  * __iv.Symmetric Difference__
* __4.Boolean__
  * __i.True__
  * __ii.False__
* __5. Sequence__
  * __i.String__
  * __ii.List__
  * __iii.Tuple__

In [34]:
# String
print('Hello world')
print('100')
print('@#$%^&')
print('789.02')

# 2. Number : put value without quotes
# Integer
print(100)
print(2000)
print(10)

# float
print(100.23)
print(145.56)
print(00.23)

# Boolean
print(True)
print(False)

Hello world
100
@#$%^&
789.02
100
2000
10
100.23
145.56
0.23
True
False

In [47]:
# Check the datatype in python using type function
# string form data
print('Charu Kulshrestha')
print(type('Charu Kulshrestha'))

print('100')
print(type('100'))
print('!@#$%')
print(type('!@#$%'))


# number
# integer
print(100)
print(type(100))
print(1000)
print(type(1000))

#float
print(123.02)
print(type(123.02))
print(00.00)
print(type(00.00))

# Boolean
print(True)
print(type(True))
print(False)
print(type(False))

Charu Kulshrestha
<class 'str'>
100
<class 'str'>
!@#$%
<class 'str'>
100
<class 'int'>
1000
<class 'int'>
123.02
<class 'float'>
0.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

In [52]:
print(int(True))
print(int(False))

1
0

In [56]:
# Variable and constant
x=100
print(x)
print(type(x))

100
<class 'int'>

In [62]:
x_1=100
print(x_1)
print(type(x_1))
# converting integer form data into float
y=float(x_1)
print(y)
print(type(y))

100
<class 'int'>
100.0
<class 'float'>

In [5]:
bool1=True
print(bool1)
print(type(bool1))

# integer and float
print(int(bool1))
print(type(int(bool1)))

# float
print(float(bool1))
print(type(float(bool1)))

# string
print(str(bool1))
print(type(str(bool1)))

True
<class 'bool'>
1
<class 'int'>
1.0
<class 'float'>
True
<class 'str'>

In [9]:
# False
bool2=False
print(bool2)
print(type(bool2))


# integer 
print(int(bool2))
print(type(int(bool2)))
# float
print(float(bool2))
print(type(float(bool2)))


# string
print(str(bool2))
print(type(str(bool2)))

False
<class 'bool'>
0
<class 'int'>
0.0
<class 'float'>
False
<class 'str'>

# Let's find the data type in python

In [11]:
# Addition
x=25+78-95
print(x)
print(type(x))

8
<class 'int'>

In [12]:
# Substraction
y=78-78+100
print(y)
print(type(y))

100
<class 'int'>

In [13]:
# Multiplication
y1=78*8*9
print(y1)
print(type(y1))

5616
<class 'int'>

In [14]:
# Division
# float division
y1=78/4
print(y1)
print(type(y1))

19.5
<class 'float'>

In [18]:
y2=77//5
print(y2)
print(type(y2))

15
<class 'int'>

In [20]:
# Modulus: It returns the remainder of the value.

x=45%3
print(x)
print(type(x))

0
<class 'int'>

In [21]:
x2=45%4
print(x2)
print(type(x2))

1
<class 'int'>

In [23]:
# Exponent It has base and power

y1=2**3  # 2 is the base of data and 3 is the power of 2
print(y1)
print(type(y1))

8
<class 'int'>

In [24]:
y3=3**10
print(y3)
print(type(y3))

59049
<class 'int'>

In [1]:
# x=10 ["string",'float']
# x2=5.23 ['String','integer',]
# x3=True ['string','integer','float']
# x4=False ['string','integer','float']

In [3]:
# Let's calculate How many minutes are there are in 20 hrs.
# -----------------------------------------------------------------
one_hrs=60   # min
hours= 20 # hrs
minutes=one_hrs*hours
print('Total Minutes in 20 hrs:',minutes,"Minutes")

Total Minutes in 20 hrs: 1200 Minutes

In [4]:
# Let's calculate how many hour are there are in 540 minutes.

In [14]:
# Mathematical Expressions
#--------------------------------
x=45+78*3
y=45+65+75-89*2

print(x)
print(y)

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

279
7
286
272
1953
39.857142857142854
39
6
131591980401875559