# 4 Tuples in Python

 * __Tuples are immutable lists and cannot be changed in any way once it is created.__
 * __Tuples are defined in the same way as lists.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to the string indices, the first value in the tuple will have the index[0], the second value[1].__
 * __Negative indices are counted from the end of the tuple, just like lists.__
 * __Tuples also has the same structure where commas separate the values.__
 * __Tuples can store duplicate values.__
 * __Tuples allow you to store several data items including string, integer, float in one variable.__

In [2]:
# How to create tuples?
# we use parentheses() 

tuple1=()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [5]:
tuple1=('Hello world')
print(tuple1)
print(type(tuple1))

Hello world
<class 'str'>

In [6]:
tuple1=(10)
print(tuple1)
print(type(tuple1))

10
<class 'int'>

In [12]:
# tuple()
tup1=tuple('10')
print(tup1)
print(type(tup1))

('1', '0')
<class 'tuple'>

In [13]:
# Indexing in tuple

tup1=('Hello world',3.14,1.618,True,False,('hi,python',10,20),[70,80])
print(tup1)

('Hello world', 3.14, 1.618, True, False, ('hi,python', 10, 20), [70, 80])

In [14]:
# printing element with their type
print(tup1[0])
print(type(tup1[0]))
print(tup1[1])
print(type(tup1[0]))

Hello world
<class 'str'>
3.14
<class 'str'>

In [16]:
# Concatenation of tuple

x=('Hello world',10)
y=('hi! python',20)
z=x+y
print(z)

('Hello world', 10, 'hi python', 20)

In [17]:
# Repetation of Tuple

x1=('Hello world',True)

y1=x1*2
print(y1)

('Hello world', True, 'Hello world', True)

# Membership operator (in or not in)

In [23]:
tuple1=('Hello world',True,False,(10,20,30,'python'),'PHP','JavaScript',100,5000)
print(True in tuple1)
print('True' in tuple1)
print('Hello world' not in tuple1)
print(10 in tuple1)

True
False
False
False

In [24]:
# Aggrigate function: min(),max(),sum(),count(),average(),len()

tuple2=(10,20,30,40,50,60,70,80,90)
print('Mininum of the tuple is:',min(tuple2))
print('Maximum of the tuple is:',max(tuple2))
print('Sum of the tuple is:',sum(tuple2))
print('Totle length of tuple is:',len(tuple2))
print('Average of the tuple is:',sum(tuple2)/len(tuple2))

Mininum of the tuple is: 10
Maximum of the tuple is: 90
Sum of the tuple is: 450
Totle length of tuple is: 9
Average of the tuple is: 50.0

In [27]:
# Slicing of string

tuple1=('Hello world',True,False,(10,20,30,'python'),'PHP','JavaScript',100,5000)

slicing=tuple1[1:4]
slicing

(True, False, (10, 20, 30, 'python'))

In [30]:
# sorting of tuple 
# Ascending or descending order.
tuple2=(10,20,30,40,60,80,90,40,50,30,10,12,15,18,69,67)

tuple3=sorted(tuple2)
print(tuple3)
print(type(tuple3))

[10, 10, 12, 15, 18, 20, 30, 30, 40, 40, 50, 60, 67, 69, 80, 90]
<class 'list'>

In [33]:
# slicing

reverse_tup=tuple3[::-1]
print(tuple3)
print(reverse_tup)

[10, 10, 12, 15, 18, 20, 30, 30, 40, 40, 50, 60, 67, 69, 80, 90]
[90, 80, 69, 67, 60, 50, 40, 40, 30, 30, 20, 18, 15, 12, 10, 10]

In [34]:
tuple1=('hello world',10,20,True,False)
print(tuple1)

('hello world', 10, 20, True, False)

In [36]:
# tuples are immutable data type in python
tuple1[0]='Hello World'
tuple1

TypeError: 'tuple' object does not support item assignment

In [38]:
# appending the data in tuple

tuple1.append('charu')
tuple1

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
tuple1

('hello world', 10, 20, True, False)

In [40]:
# deleting an element in tuple
del(tuple1[0])

TypeError: 'tuple' object doesn't support item deletion

In [43]:
# Note: You can not delete a single element in tuple but you can delete the whole tuple.

x=('Hello world',10,20)
print(x)

('Hello world', 10, 20)

In [44]:
# delete the tuple
del(x)

In [45]:
print(x)

NameError: name 'x' is not defined