# 5. Sets in Python

 * __Set is one of the 4th build-in data types in Python used to store collections of data including List, Tuples, and Dictionary.__
 * __Sets are unordered, but you can remove items and add new items.__
 * __Set elements are unique. Duplicate elements are not allowed.__
 * __A set itself may be modified,but the elements contained in the set must be of an immutable type.__
 * __Sets are used to store multiple items in a single variable.__
 * __You can denote a set with a pair of curly brackets {}.__

In [2]:
x={}
print(x)
print(type(x))

{}
<class 'dict'>

In [8]:
x1={1}
print(x1)
print(type(x1))

{1}
<class 'set'>

In [11]:
x2=set()
print(x2)
print(type(x2))

set()
<class 'set'>

In [13]:
list1=[10,12,5,8,1,1,1,2,1,2,2]
print(type(list1))
print(list1)

<class 'list'>
[10, 12, 5, 8, 1, 1, 1, 2, 1, 2, 2]

In [14]:
set2=set(list1)
set2

{1, 2, 5, 8, 10, 12}

In [15]:
set1={'Hello World',3.14,1.618,'Hello Python',True,False,3.14,1.618,2024}
set1

{1.618, 2024, 3.14, False, 'Hello Python', 'Hello World', True}

# Set Operations

# Add() functions

In [16]:
set1

{1.618, 2024, 3.14, False, 'Hello Python', 'Hello World', True}

In [17]:
set1.add('Charu')
print(set1)

{False, 1.618, True, 3.14, 'Hello World', 'Charu', 2024, 'Hello Python'}

In [28]:
# update() function to update the set.



x_set={6,7,8,9,1.1,20}
print(x_set)
set1.update(x_set)
print(set1)

{1.1, 20, 6, 7, 8, 9}
{False, 1.618, True, 3.14, 1.1, 6, 7, 8, 9, 20, 2024, 'Hello Python', 'Hello World', 'Charu'}

In [29]:
# remove() function 

set1.remove('Charu')
print(set1)

{False, 1.618, True, 3.14, 1.1, 6, 7, 8, 9, 20, 2024, 'Hello Python', 'Hello World'}

In [30]:
set1.remove('Hello')
print(set1)

KeyError: 'Hello'

In [36]:
#discard() function:
# >> It is also use the remove the element from the set. But if element is not found then it doent not return error 
# whetherelse it return whole set.
set1.discard(9)
print(set1)

{False, 1.618, True, 3.14, 1.1, 6, 2024, 'Hello Python', 'Hello World'}

In [37]:
set1.discard(9)
print(set1)

{False, 1.618, True, 3.14, 1.1, 6, 2024, 'Hello Python', 'Hello World'}

In [38]:
set1.discard(9)
print(set1)

{False, 1.618, True, 3.14, 1.1, 6, 2024, 'Hello Python', 'Hello World'}

In [39]:
set1.remove(9)
print(set1)

KeyError: 9

# Logic Operations

In [40]:
# union,Interseciton,Difference,Symmetric Difference

# union() function
set1={2,4,6,8}
set2={4,6,8,10,12,14}
set1.union(set2)

{2, 4, 6, 8, 10, 12, 14}

In [41]:
# Intersection: It holds duplicate value.

set1={2,4,6,8}
set2={4,6,8,10,12,14}
set1.intersection(set2)

{4, 6, 8}

In [47]:
# Difference= (a-b)(b-a)

set1={2,4,6,8}   # set1=a
set2={4,6,8,10,12,14}   #set2=b

print(set1-set2)   # set1->set1- all element returned after subtracted from set2
print(set2-set1)   #b-a   # set2-all element returned after subtracted from set1


# another method

print(set1.difference(set2))
print(set2.difference(set1))

{2}
{10, 12, 14}
{2}
{10, 12, 14}

In [48]:
# symmetric_difference
set1={2,4,6,8}
set2={4,6,8,10,12,14}

set1.symmetric_difference(set2)

{2, 10, 12, 14}

In [50]:
a=[1,1,2,2,3,3,4,4,5,5]
b={1,1,2,2,3,3,4,4,5,5}

print('The minimum number of a is:',min(a))
print('The minimum number of b is:',min(b))
print('The maximum number of a is:',max(a))
print('The maximum number of b is:',max(b))
print('The Sum of a is:',sum(a))
print('The Sum of b is:',sum(b))
print('Total length of a is:',len(a))
print('Total length of b is:',len(b))

The minimum number of a is: 1
The minimum number of b is: 1
The maximum number of a is: 5
The maximum number of b is: 5
The Sum of a is: 30
The Sum of b is: 15
Total length of a is: 10
Total length of b is: 5

In [51]:
# clear() function
set2={'Hello',10,20}
print(set2)
set2.clear()
print(set2)

{10, 20, 'Hello'}
set()