# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With for loop we can execute a set of statemnets, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__

# range() function
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop throught a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.__

In [1]:
print(range(10))

range(0, 10)

In [2]:
print(range(100))

range(0, 100)

In [3]:
print(range(500))

range(0, 500)

In [4]:
print(range(5,10))  #n-1

range(5, 10)

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(50,101):
    print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
for charu in range(20):
    print(charu)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [10]:
for i in range(10):
    print(i)

else:
    print('These are number from 0 to 9')

0
1
2
3
4
5
6
7
8
9
These are number from 0 to 9

In [12]:
# controllers (continue or break)

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [15]:
# continue
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [18]:
# wap to print even number from 1 to 10.

for i in range(1,10+1):
    if i%2==0:
        print(i)

2
4
6
8
10

In [20]:
# print odd number from 1 to 10.
for i in range(1,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [25]:
# wap to find even and odd number from 1 to 10 and stored in list.

list_even=[]
list_odd=[]

for i in range(1,11):
    if i%2==0:
        list_even.append(i)
    else:
        list_odd.append(i)
        


print('List of Even numbers:',list_even)
print('List of Odd numbers:',list_odd)

List of Even numbers: [2, 4, 6, 8, 10]
List of Odd numbers: [1, 3, 5, 7, 9]

In [5]:
# wap to print the table of 4 using loop

# 4x1=4
# 4x2=8
# 4x3=12

num=4
for i in range(1,11):
    print(num,'x',i,'=',num*i)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [7]:
num=9

for i in range(1,11):
    print(f'{num}x{i}={num*i}')

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90

In [8]:
num=19

for i in range(1,11):
    print('%dX%d=%d'%(num,i,num*i))

19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

In [10]:
# from user input to display the table.
num=int(input('Enter your number:'))

for i in range(1,11):
    print('%dX%d=%d'%(num,i,num*i))

Enter your number: 55

55X1=55
55X2=110
55X3=165
55X4=220
55X5=275
55X6=330
55X7=385
55X8=440
55X9=495
55X10=550

# while loop

In [12]:
# wap to print the 1-10 natural number using while loop

i=0

while (i<=10):
    print(i)
    i+=1   # i=i+1

else:
    print('Done!')

0
1
2
3
4
5
6
7
8
9
10
Done!

In [17]:
# wap to take range form user and display the value.

x=int(input('Enter any number:'))

i=1
while (i<=x):
    print(i,end=',')
    i+=1

Enter any number: 10

1,2,3,4,5,6,7,8,9,10,

In [18]:
x=int(input('Enter any number:'))
list_1=[]
i=1
while (i<=x):
    list_1.append(i)
    i+=1
print('List is:',list_1)

Enter any number: 10

List is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
# wap to print even or odd numebrs from user input range.

n=int(input('Enter your range here:'))
even_list=[]
odd_list=[]
i=0
while (i<=n):
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
    i+=1


print('Even Number list is:',even_list,'\nOdd Number list is:',odd_list)

Enter your range here: 20

Even Number list is: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd Number list is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
# wap to print even or odd numebrs from user input range.

n=int(input('Enter your range here:'))
even_list=[]
odd_list=[]
i=0

sum_even=0
sum_odd=0
while (i<=n):
    if i%2==0:
        even_list.append(i)
        sum_even+=i
    else:
        odd_list.append(i)
        sum_odd+=i
    i+=1
print('Even Number list is:',even_list,'=',sum_even,'\nOdd Number list is:',odd_list,'=',sum_odd)

Enter your range here: 20

Even Number list is: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20] = 110
Odd Number list is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19] = 100

In [27]:
# Continue and break


n=10
i=0

while i<=n:
    if i==5:
        break
    print(i)
    i+=1

0
1
2
3
4

In [36]:
# continue in while loop
n=10
i=0

while i<n:
    
    i+=1
    if i==5:
        continue
    
    print(i)

1
2
3
4
6
7
8
9
10

In [37]:
# wap to create table from user input value.

In [38]:
#1 write a program to count the total number of digits in a number using a while  loop. [for, while]
# for eample the number is 75869 = so output is 5.

#2. write a progrm that keeps on accepting a number from the user until the user enters zero.
# Display the sum and average of all the number.

#3. wap to print the first 25 odd numbers? and find their sum and average  and it's total length of the value.


#4. wap to print sum, average and length of positive or negative value given by the user input range.


# 5. wap that takes a year as input and check if it is a leap year or not.

#6. wap to check if a given number is even or not.

# 7. given a list of names, print all the names starting wht the letter 'a'.
# names=['Amruta','Amrit',"Bablu","Dablu",'Motu',"Patlu","Tom","Harry","jack","Jerry","Anuroop",'Ankita',"Anpurna"]

#8. given a list of words, count the number of words more then five characters.
# words=['Apple','Ball',"Cat","Dog","Elephant","Fish","Gun",]

#9. write a progam to that calculates the factorial of a given number.

# 10. wap to take words from user and check it is palendrome or not.

In [41]:
n=int(input('Enter your range'))

for i in range(1,n+1):
    value=int(input(f'Enter your value here:{i}'))

Enter your range 6
Enter your value here:1 10
Enter your value here:2 -50
Enter your value here:3 -500
Enter your value here:4 400
Enter your value here:5 100
Enter your value here:6 -600